# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
venv/
ENV/

# Databases
*.db
db.sqlite3
db.sqlite3-journal

# Project specifics
media/
staticfiles/

# IDE / OS
.idea/
.vscode/
.DS_Store
